{
  "name": "senseBox MCU SAMD Board Core",
  "architecture": "samd",
  "version": "",
  "category": "contributed",
  "help": {
    "online": "https://github.com/sensebox/arduino-senseBoxCore"
  },
  "url": "https://github.com/sensebox/arduino-senseBoxCore/releases/download/",
  "archiveFileName": "",
  "size": "",
  "checksum": "",
  "boards": [
    {
      "name": "senseBox MCU"
    }
  ],
  "toolsDependencies": []
}
